{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ wish.title }} {% endblock %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <p>{{ wish.description }}</p>
    <p>Idée suggérée par : {{ wish.author }} le {{ wish.dateCreated|date('Y-m-d H:i:s') }}.</p>
{% endblock %}