{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | All Wishes{% endblock %}

{% block body %}
    <h2>All whishes :</h2>
    <section class="wishes-list">
        {% for wish in wishes %}

            <article>
                [{{ wish.category.name }}]
                <a href="{{ path('wish_detail', {'id':wish.id}) }}" title="View wish in details">
                    {{ wish.title }} idée suggérée par {{ wish.author }}.
                </a>
            </article>

        {% endfor %}
    </section>
{% endblock %}



